@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.main{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background:linear-gradient(to bottom right, rgb(163, 230, 88),rgb(163, 230, 88), rgb(139, 0, 219)); ;
    border-radius: 20px;
    display: grid; 
    grid-template-columns: 1.5fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    grid-template-areas: 
      "img info"
      "img button";
  }

Img { 
    grid-area: img;
    border-radius: 20px 0px 0px 20px;
}

.info { 
    grid-area: info;

    
}

.info h2{
    font-size: 44px;
    font-weight: 600;



    text-align: left;
    margin-bottom: 20px;
    margin-left: 4px;


    color: white;
    

}
.info .desc{
    text-align: left;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 300;

    max-width: 300px;
    margin-left: 8px;

    color: white;


   
}

.info .price{
    text-align: right;
    font-weight: 600;

    position: relative;
    top: 200px;
    right: 10px;

    color: white;
}

.addProduct{
    grid-area: button;
    grid-column: 2;

    position: relative;
    

    top: 178px;
    left: 175px;

    width: 150px;
    height: 50px;


    border: 1px solid white;
    border-radius: 8px;
    border-style: linear;
    

    background-color: rgb(163, 230, 88);
    color: white;

    transition: ease-in-out 0.5s;

}

.addProduct:hover{

    transform: rotate(-2deg);

    background-color: rgb(139, 0, 219) ;

    cursor: pointer;

}



